* {
  font-family: "Google Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
}

b,
strong {
  font-weight: 700;
}

h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: initial;
}
