// * Radio buttons, tab styled
.radio-buttons {
  display: flex;
  width: 100%;

  @media screen and (max-width: $bp-container) {
    flex-direction: column;
  }
}

.radio-buttons__item {
  color: $color-link;
  background-color: $color-accent-mutted;
  min-height: 36px;
  padding: 5px 24.9px;
  transition: all $trans-prop;

  &:hover,
  &:focus,
  &--active {
    color: #fff;
    background-color: $color-accent;
  }

  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    @media screen and (max-width: $bp-container) {
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
    }
  }

  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    @media screen and (max-width: $bp-container) {
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
    }
  }
}

// * Payment methods plates
.payment-methods {
  position: relative;
}

.payment-methods--active {
  .payment-methods__mobile-select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
    box-shadow: $box-shadow-black;
  }

  .payment-methods__mobile-select-list {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: $box-shadow-black;
  }

  .payment-methods__mobile-select-icon {
    transform: rotateZ(-180deg);
  }
}

.payment-methods__mobile-select-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  transition: box-shadow $trans-prop;

  @media screen and (max-width: $bp-container) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $bp-collapse) {
    grid-template-columns: auto;
    grid-gap: 7px;
    padding: 10px 15px;
    border: 2px solid #b3b3b3;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: #fff;
  }

  .payment-methods__item {
    @media screen and (max-width: $bp-collapse) {
      text-align: left;
      padding: 0;
      border-radius: 0;

      &:hover,
      &:focus,
      &--active {
        color: $color-accent;
      }
    }
  }
}

.payment-methods__mobile-select-icon {
  transition: transform $trans-prop;
}

.payment-methods__mobile-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid $color-input-border;
  border-radius: $border-radius;
  outline: none;
  min-height: 42px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  transition: box-shadow $trans-prop, border $trans-prop;

  &:hover {
    border-color: $color-black;

    .payment-methods__mobile-select-icon {
      path {
        fill: $color-black;
      }
    }
  }

  &:focus {
    border-color: $color-accent;

    .payment-methods__mobile-select-icon {
      path {
        fill: $color-accent;
      }
    }
  }
}

.payment-methods__item {
  text-align: center;
  border-radius: $border-radius;
  color: $color-black;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;

  &:hover,
  &:focus,
  &--active {
    .payment-methods__item-logo-container {
      background-color: #fff;
      border-color: $color-accent;
    }
  }
}

.payment-methods__item-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-accent-mutted;
  min-height: 100px;
  border-radius: $border-radius;
  margin-bottom: 8px;
  border: 3px solid transparent;
  transition: all $trans-prop;
}

.payment-methods__item-title {
  font-size: 16px;
}

.payment-methods__item-info {
  font-weight: normal;
}

// * Inputs
.input-group {
  display: grid;
  grid-template-columns: 204px auto;
  grid-gap: 18px;
  align-items: flex-start;

  &--with-hint {
    grid-template-columns: 204px auto 170px;
  }

  &--mobile-layout {
    @media screen and (max-width: $bp-collapse) {
      grid-template-areas:
        "label hint"
        "input input";
      grid-gap: 6px 8px !important;
      justify-content: space-between;
      align-items: center;

      .label {
        grid-area: label;
        padding-top: 0;
      }

      .input-group__hint {
        grid-area: hint;
      }

      .input-currency {
        grid-area: input;
      }
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 12px;

    @media screen and (max-width: $bp-collapse) {
      margin-bottom: 7px;
    }
  }

  @media screen and (max-width: $bp-container) {
    grid-template-columns: auto;
    grid-gap: 6px;
  }
}

.input-group--jc-fs {
  justify-content: flex-start;
}

.input-group__hint {
  font-size: 16px;
  line-height: 20px;
  color: $color-hint-text;
}

.input-group__hint-mobile-hide {
  @media screen and (max-width: $bp-collapse) {
    display: none;
  }
}

.label {
  padding-top: 12px;

  @media screen and (max-width: $bp-container) {
    padding-top: 5px;
  }
}

.input {
  width: 100%;
  border: 2px solid $color-input-border;
  border-radius: $border-radius;
  outline: none;
  min-height: 42px;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  transition: border $trans-prop;

  &:hover {
    border-color: $color-black;
  }

  &:focus {
    border-color: $color-accent;
  }

  &:disabled {
    background: $color-disabled-input;
    border-color: $color-disabled-input;
  }

  &::placeholder {
    color: $color-input-border;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color-input-border;
  }

  &::-ms-input-placeholder {
    color: $color-input-border;
  }
}

.input--textarea {
  resize: none;
  min-height: 137px;
  padding: 12px 15px;

  @media screen and (max-width: $bp-collapse) {
    min-height: 84px;
  }
}

.input-currency {
  position: relative;

  .input {
    padding-right: 50px;
  }
}

.input-currency__type {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #b3b3b3;
}

.input-captcha {
  display: grid;
  grid-template-columns: auto 82px;
  grid-gap: 8px;
}

.input-captcha__code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-disabled-input;
  border-radius: $border-radius;
}

.form-agreement {
  color: #000;
  font-size: 15px;
  line-height: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// * Links
.accent-link {
  color: $color-accent;
  border-bottom: 1px solid rgba($color-accent, 0.25);
  transition: border $trans-prop;

  &:hover,
  &:focus {
    border-color: $color-accent;
    text-decoration: none;
  }
}

// * Buttons
.button-accent {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  background-color: $color-accent;
  padding: 9px 30px;
  border-radius: $border-radius;
  border: 2px solid $color-accent;
  transition: all $trans-prop;

  &:hover,
  &:focus {
    color: $color-accent;
    background-color: #fff;
  }
}
